body {
    background: url(/ape.jpg) no-repeat right top;
}

div {
    font-size: 20px;
    font-family: Verdana;
    box-shadow: 10px 10px 10px #000;
    float: left;
    height: 200px;
    background: url("/sample.png") no-repeat center;
}    

